* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  background-color: black;
  color: goldenrod;
}

body {
  background-image: url(../images/Chicago.jpg);
  font-family: "Cinzel", serif;
  background-color: #69b5d3b6;
}

.panel-heading {
  background-color: blue;
}

.tables {
  background-color: #ddd;
}

#formId {
  width: 100%;
  padding: 2px;
  border: px solid;
  background-color: #ddd;
}

.panel-title {
  padding: 1px;
  background-color: black;
  margin-bottom: 10px;
  color: goldenrod;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #ddd;
  color: grey;
}

#tableContent {
  background-color: #ddd;
}
